h1{
    border: 1px splid black;
    margin-top: 10px;
    margin-bottom: 0px;
}

label, input, button{
    display: block;
}

body{
    align-items: center;
    flex-direction: column;
    display: flex;
}

a, h1, p{
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a{
    margin: 0 20px;
    color: dodgerblue;
}

.encima{
    font-size: 25px;
}

.embaixo{
    font-size: 20px;
    text-decoration: none;
}

hr {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    border-width: 2px;
    border-color: black;
    }

.texto {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.produto {
    border: solid black;
    padding: 70px;
    width: 25%;
    background-color: aqua;
}

.nd {
    margin: 2px;
}

.contatos {
    border: solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 300px;
    margin-right: auto;
    margin-left: 420px;
}

.numero{
    padding-right: 380px;
}