<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="encima">
        <a href="/">Home Page</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produtos</a>
    </nav>
    {% block content %}
    {% endblock %}

<!--<h1>Geradores</h1>
    <nav>
        <a href="/cpf">CPF</a>
        <a href="/cnpj">CNPJ</a>
    </nav>
-->

    <hr>

    <footer>
        <p>Desenvolvido por Milhomem, 2024</p>
    </footer>

    <nav>
        <a href="/termosDeUso" class="embaixo">Termos de Uso</a>
        <a href="/politica" class="embaixo">Politica de Privacidade</a>
        <a href="/comoUtilizar" class="embaixo">Como Utilizar</a>
    </nav>
</body>
</html>